################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/3rdparty
/LastCoverageResults.log
/XOR.vcxproj.user
/XOR.vcxproj.filters
/XOR.vcxproj
/Utils.h
